.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.camera {
  display: flex;
}

.cameraPower {
  position: absolute;
  bottom: 10%;
  left: 40%;
  display: flex;
}
#cameraRequest {
  right: 40%;
  font-size: 20px;
}

.video {
  display: flex;
  position: fixed;
  top: 40%;
  left: 100px;
  width: 56.92%;
  height: 36.67%;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.video video {
  display: flex;
}

.resulthasPhoto {
  position: absolute;
  top: 40%;
  right: 0px;
  display: flex;
  float: right;
  max-width: 20%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.takePhoto {
  position: absolute;
  bottom: 0%;
  float: right;
}

.navBar {
  position: fixed;
  top: 3px;
  left: 0px;
  height: auto;
  z-index: 25;
}
.navBar button{
  position: fixed;
  left: 0%;
  font-size: 16px;
  z-index: 26;
  border-style: none;
  padding-right: 24px;
  background-color: rgb(198, 203, 203);
}

.navigation {
  position: fixed;
  margin: 0px;
  left: 0;
  background-color: rgb(198, 203, 203);
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.navigation ul {
  list-style: none;
  padding-left: 15px;
  align-items: center;
}

.navigation li {
  padding-top: 7px;
}

.message {
  color: rgb(45, 50, 54);
  padding-left: 10px;
  padding-top: 3px;
}

.taskStatus {
  top: 10px;
  float: top;
}

.mainShifted {
  top:0;
  margin-left: 25%;
}

.mainDefault {
  top: 0;
}

#completedTasks {
  list-style: none;
  align-items: left;
  
}
#completedTasks button {
  margin-left: 15px;
}
.form{
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}

.form-body{
  text-align: left;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.error{
  font-size: 15px;
  color: red;
}

.label{
  color: white;
  font-size: 20px
}

.input{
  width: 90%;
}

.footer{
  text-align: center;
}

.task-notification {
  display: flex;
  margin: 10px 0 10px 0;
  padding: 10px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  height: auto;
  width: 80%;
  background-color: #74819b;
  border-radius: 10px;
}

.task-title {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: #282c34; */
  color: #ffffff;
}

.task-description {
  padding: 0;
  margin-top: 5px;
  font-size: 1.25rem;
  /* background-color: #282c34; */
  color: #ffffff;
}

.notification-bar {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 200px;
  background-color: #141518;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-href {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
}

.task-date {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
}

.top-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.authDetails p {
  font-size: small;
}
header h1 {
  color: aliceblue
}

.require-div {
  position: absolute;
  top: 20%;
  left: 50%;
}

.temp-div {
  position: relative;
  left: 80%;
}

.h2-v1 {
  color: #282c34;
}
