.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.camera {
  display: flex;
}

.cameraPower {
  position: absolute;
  bottom: 60%;
  left: 45%;
  display: flex;
}
#cameraRequest {
  right: 40%;
  font-size: 20px;
}

.video {
  display: flex;
  position: fixed;
  top: 40%;
  left: 100px;
  width: 56.92%;
  height: 36.67%;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.video video {
  display: flex;
}

.resulthasPhoto {
  position: absolute;
  top: 40%;
  right: 0px;
  display: flex;
  float: right;
  max-width: 20%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.takePhoto {
  position: absolute;
  bottom: 0%;
  float: right;
}

.navBar {
  position: fixed;
  top: 3px;
  left: 0px;
  height: auto;
  z-index: 25;
}
.navBar button {
  position: fixed;
  left: 0%;
  font-size: 16px;
  z-index: 26;
  border-style: none;
  padding-right: 24px;
  background-color: rgb(198, 203, 203);
}

.navigation {
  position: fixed;
  margin: 0px;
  left: 0;
  background-color: rgb(198, 203, 203);
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.navigation ul {
  list-style: none;
  padding-left: 15px;
  align-items: center;
}

.navigation li {
  padding-top: 7px;
}

.message {
  color: rgb(45, 50, 54);
  padding-left: 10px;
  padding-top: 3px;
}

.taskStatus {
  top: 10px;
  float: top;
}

.mainShifted {
  top: 0;
  margin-left: 25%;
}

.mainDefault {
  top: 0;
}
#completedTasks {
  list-style: none;
  align-items: left;
}
#completedTasks button {
  margin-left: 15px;
}
.form {
  background-color: #76b852;
  border-radius: 5px;
  max-width: 550px;
  min-width: 100px;
  width: auto;
  margin: 20px 10px;
  padding: 10px;
  /* height: 600px; */
}

.form button {
  border-radius: 20px;
  border: 1px solid black;
  background-color: #eee;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form input,
.form select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.login-container .form-body,
.inspection-container .form-body {
  text-align: center;
}

.form-body > * {
  padding: 5px;
}

.error {
  font-size: 15px;
  color: red;
}

.label {
  color: white;
  font-size: 20px;
}

.input {
  width: 90%;
}

.footer {
  text-align: center;
}

.task-notification {
  display: flex;
  margin: 10px 0 10px 0;
  padding: 10px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  height: auto;
  width: 100%;
  /* background-color: #74819b; */
  border-radius: 10px;
}

.task-title {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: #282c34; */
  color: #ffffff;
}

.task-description {
  padding: 0;
  margin-top: 5px;
  font-size: 1.25rem;
  /* background-color: #282c34; */
  color: #ffffff;
}

.notification-bar {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: left;
  width: 50%;
  height: 200px;
  background-color: white;
  color: #ffffff;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  overflow-y: scroll;
  top: 0;
  width: 100%;
  height: 40rem;
}

.task-href {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
}

.task-date {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
}

.top-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

header h1 {
  color: aliceblue;
}

.require-div {
  margin: 10% 10%;
  display: flex;
}

.temp-div {
  position: relative;
  left: 80%;
}

.h2-v1 {
  color: #282c34;
}

.priority-Images {
  height: 50px;
  width: 50px;
}

.priority-Images-large {
  left: 0;
  right: auto;
  height: 250px;
  width: 250px;
}

.steps {
  text-align: left;
  margin-left: 20px;
}

.userNames-div {
  margin-top: 10px;
}

.userNames-div ul {
  list-style: none;
}

.eml-form-div {
  margin-left: 30px;
}

.eml-chain-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.people-h2 {
  font-size: medium;
}

.lbl-msg {
  margin-right: 100%;
}

.inspectionHeader {
  color: white;
}

.profile-container {
  margin-top: 2%;
  margin-left: 30%;
  width: 40%;
  background-color: rgb(198, 203, 203);
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.profile-container table {
  border: none;
  font-size: 16px;
  width: 80%;
}

.task-form {
  text-align: left;
}

.task-form input[type="text"] {
  background: none;
  border: none;
  border-bottom: solid 2px #198754;
  color: #474544;
  font-size: 16px;
  font-weight: 400;
  margin: 0em 0 1.875em 0;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
}

.task-form select {
  outline: none;
  margin-left: 20px;
}

.task-form select::-ms-expand {
  display: none;
}

.text-area {
  height: 50px;
  resize: none;
  width: 100%;
  border-color: #198754;
  outline: none;
}

.form-btn {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  margin-top: 15px;
}

.form-btn:hover {
  background: #198754;
  color: #f2f3eb;
}

.task-form {
  margin-left: 25%;
  margin-right: 25%;
}

.btn-div {
  text-align: center;
}

.date-picker {
  margin-bottom: 15px;
  margin-top: 15px;
}

.completedTasks {
  display: flex;
  list-style: none;
  justify-content: center;
}

.completedTasks li {
  text-align: left;
  margin: 15px;
}

.priority-select {
  margin-left: 15px;
}

.id-p {
  margin-top: 35px;
}

.redirect {
  background-color: rgb(221, 220, 220);
  height: 100%;
  text-align: center;
  left: 50%;
  width: 100%;
}

.redirect-square {
  background-color: rgb(53, 53, 53);
  color: rgb(174, 172, 172);
  justify-content: center;
  border-radius: 5%;
  align-items: center;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  cursor: default;
}

.redirect-square-items {
  margin: 5%;
}
.notification {
  right: 0;
  position: absolute;
}

.sales-card {
  background-color: green;
  margin: 5%;
  border-radius: 5%;
  height: 400px;
  left: 50%;
}

.sales-card-item {
  margin: 2%;
}

.FormGroup {
  margin: 10px 150px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
