.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}
.camera {
  display: flex;
  align-items: center;
}
.cameraPower {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
}
#cameraRequest {
  right: 50%;
  font-size: 20px;
}
.video {
  width: 76.92%;
  height: 66.67%;
}
.video video {
  display: flex;
}
.resultHasPhoto {
  float: right;
  max-width: 20%;
}

.resultHasPhoto button {
  right:0;
}

.takePhoto {
  position: absolute;
  top: 10%;
  left: 18%;
  width: 100%;
  text-align: center;
}
